header {
	width: 300px;
	float: left;
}

#title {
	text-align: center;
	background-image: url("../images/bg-header.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 5px;
}

#title p {
	font-size: 22px;
	font-weight: bolder;
	text-shadow: 1px 1px 30px #FFF;
	margin-top: 15px;
}

li {
	margin: 5px 0px 5px 0px;
	padding: 10px 0px 10px 10px;
	font-size: 20px;
	cursor: pointer;
}

li:hover {
	color: #FFFFFF;
	transition: color 1s;
}

.light-blue {
	background-color: #5b50ff;
}

.dark-blue {
	background-color: #617392;
}

.icon {
	margin-right: 0.5px;
}

#content {
	display: flex;
	padding-left: 15px;
}

div.visible {
	height: 500px;
}

.visible p {
	text-indent: 50px;
}

figure {
	margin: 0;
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

figure img {
	/*width: 300px;*/
	height: 200px;
}

iframe {
	margin: 10px;
	display: inline-block;
	float: left;
}

footer {
	display: inline-block;
    width: 100%;
    text-align: center;
    background-image: url('../images/bg-footer.png');
	background-repeat: repeat-x;
	background-size: 25%;
	background-position-y: 55px;
	padding: 25px 0px 50px 0px;
	position: absolute;
    top: 90%;
    left: 0;
}